nav{
    display:flex;
    background-color: rgb(244, 234, 222);
    width: 100%;
    height: 100px;
    margin: 0 auto;
    justify-content:  center;
    align-items: center;
    border: 2px solid black;
    
}

a{
    display: inline-block;
    font-size: medium;
    padding: 5px;
    margin: 10px;
   
}

a:hover{
    background-color: beige;
}

main{
    border: 2px solid black;
    background-color: bisque;
    transform: translateY(50%);
    height: 200px;
    width:50%;
    margin:0px;


}
.title{
    justify-content: center;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(arquitecture.jpg)
}



