div.content{
    height:150px;
    width:150px;
    float: left;
    margin: 20px; 
}

div#first{
background-color:#00ffff;

}
div#second{
    background-color:#b22222;
    right: 100%;
    transform: translateX(150%);
    }
 div#third{
 background-color:#008000;
 position: relative;
 transform: translateY(400px);
right: 42%;
 }
 div#fourth{
    background-color:#ffff00;
    position: relative;
 transform: translateY(400px);
right:17%;
    }

    div#fifth{
        background-color:#ffffff;
        height:150px;
        width:150px;
        float: left;
        margin: 20px;
        position:relative; 
        left:22%;
        border: 5px solid black;
    }